/* ./scr/Components/storeButton/storeButton.css */

.store-button {
  width: fit-content;
  text-align: center;
  border: 3px solid black;
  cursor: pointer;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 20px;
}

.store-button:active {
  border-color: blue;
}
